@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}


header {display: flex;
    justify-content: space-between;
    height: 100px;
}
header h1 {position:absolute;left:-2000px;}
header nav ul {display:flex;text-align: center;}

.menu {
    padding: 20px 10px;
    width: 88px;
}

.sns {
    padding-right: 20px;
}

.logo {
    height: 50px;
    width: 270px;
    margin-left: 280px;
    margin-top: auto;
    margin-bottom: auto;
}
.content {
    height: 710px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
a:link, a:visited, a:hover, a:active {color:#4b4c46;}

.copyright {
    float:left;
    margin-left:200px;
    margin-right:70px;
}

.site {
    float:left;
    margin-right:10px;
    border-right:1px solid #4b4c46;
}

.address {
    float:right;
    margin-right:30px;
}

footer {
    font-size: 12px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;

}
