@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}


header {display: flex;
    justify-content: space-between;
    height: 100px;
}
header h1 {position:absolute;left:-2000px;}
header nav ul {display:flex;text-align: center;}

.menu {
    padding: 20px 10px;
    width: 88px;
}

.sns {
    padding-right: 20px;
}

.logo {
    height: 50px;
    width: 270px;
    margin-left: 280px;
    margin-top: auto;
    margin-bottom: auto;
}

a:link, a:visited, a:hover, a:active {color:#4b4c46;}


