body{
    background-color:white;
    padding:0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    margin-top : 0px;
}
#hd {
    background-color:purple;
    width:100%;
    height:150px;
}
#section1_frame{
    display: flex;
    flex-direction:column;
    width:100%;
    height:950px;
    background-color:black;
}
#upper_half{
    width:100%;
    height:600px;
    background-color:green;
}
#upper_half_bg{
    background:url(../img/section1_cover.jpeg);
    background-size:cover;
    width:100%;
    height:600px;
}
#upper_content_container{
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-columns:100%;
    width:100%;
    height:600px;
}
#textset_1{
    position: relative;
    margin-top: 116px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 0px;
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}
#lower_half{
    background-color: rgb(252,211,7);
    width:100%;
    height:350px;
}